<!DOCTYPE HTML>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<html>
<body>
<div><p>Current {{base}} exchange rates are:</p>
    <table>
        <tr><td>CAD:</td><td>{{CAD}}</td><td>HKD:</td><td>{{HKD}}</td></tr>
        <tr><td>PHP:</td><td>{{PHP}}</td><td>DKK:</td><td>{{DKK}}</td></tr>
        <tr><td>HUF:</td><td>{{HUF}}</td><td>CZK:</td><td>{{CZK}}</td></tr>
        <tr><td>AUD:</td><td>{{AUD}}</td><td>RON:</td><td>{{RON}}</td></tr>
        <tr><td>SEK:</td><td>{{SEK}}</td><td>IDR:</td><td>{{IDR}}</td></tr>
        <tr><td>INR:</td><td>{{INR}}</td><td>BRL:</td><td>{{BRL}}</td></tr>
        <tr><td>RUB:</td><td>{{RUB}}</td><td>HRK:</td><td>{{HRK}}</td></tr>
        <tr><td>JPY:</td><td>{{JPY}}</td><td>THB:</td><td>{{THB}}</td></tr>
        <tr><td>CHF:</td><td>{{CHF}}</td><td>SGD:</td><td>{{SGD}}</td></tr>
        <tr><td>PLN:</td><td>{{PLN}}</td><td>BGN:</td><td>{{BGN}}</td></tr>
        <tr><td>TRY:</td><td>{{TRY}}</td><td>CNY:</td><td>{{CNY}}</td></tr>
        <tr><td>NOK:</td><td>{{NOK}}</td><td>NZD:</td><td>{{NZD}}</td></tr>
        <tr><td>ZAR:</td><td>{{ZAR}}</td><td>USD:</td><td>{{USD}}</td></tr>
        <tr><td>MXN:</td><td>{{MXN}}</td><td>ILS:</td><td>{{ILS}}</td></tr>
        <tr><td>GBP:</td><td>{{GBP}}</td><td>KRW:</td><td>{{KRW}}</td></tr>
        <tr><td>MYR:</td><td>{{MYR}}</td></tr>
    </table>
</div>

<div>
<p>Change currency</p>
    <form method="post">
        From
        <select name ="from">
            <option value="CAD">CAD</option>
            <option value="HKD">HKD</option>
            <option value="PHP">PHP</option>
            <option value="DKK">DKK</option>
            <option value="HUF">HUF</option>
            <option value="CZK">CZK</option>
            <option value="AUD">AUD</option>
            <option value="RON">RON</option>
            <option value="SEK">SEK</option>
            <option value="IDR">IDR</option>
            <option value="INR">INR</option>
            <option value="BRL">BRL</option>
            <option value="RUB">RUB</option>
            <option value="HRK">HRK</option>
            <option value="JPY">JPY</option>
            <option value="THB">THB</option>
            <option value="CHF">CHF</option>
            <option value="SGD">SGD</option>
            <option value="PLN">PLN</option>
            <option value="BGN">BGN</option>
            <option value="TRY">TRY</option>
            <option value="CNY">CNY</option>
            <option value="NOK">NOK</option>
            <option value="NZD">NZD</option>
            <option value="ZAR">ZAR</option>
            <option value="USD">USD</option>
            <option value="MXN">MXN</option>
            <option value="ILS">ILS</option>
            <option value="GBP">GBP</option>
            <option value="KRW">KRW</option>
            <option value=MYR">MYR</option>
        </select>
        To
        <select name ="to">
            <option value="CAD">CAD</option>
            <option value="HKD">HKD</option>
            <option value="PHP">PHP</option>
            <option value="DKK">DKK</option>
            <option value="HUF">HUF</option>
            <option value="CZK">CZK</option>
            <option value="AUD">AUD</option>
            <option value="RON">RON</option>
            <option value="SEK">SEK</option>
            <option value="IDR">IDR</option>
            <option value="INR">INR</option>
            <option value="BRL">BRL</option>
            <option value="RUB">RUB</option>
            <option value="HRK">HRK</option>
            <option value="JPY">JPY</option>
            <option value="THB">THB</option>
            <option value="CHF">CHF</option>
            <option value="SGD">SGD</option>
            <option value="PLN">PLN</option>
            <option value="BGN">BGN</option>
            <option value="TRY">TRY</option>
            <option value="CNY">CNY</option>
            <option value="NOK">NOK</option>
            <option value="NZD">NZD</option>
            <option value="ZAR">ZAR</option>
            <option value="USD">USD</option>
            <option value="MXN">MXN</option>
            <option value="ILS">ILS</option>
            <option value="GBP">GBP</option>
            <option value="KRW">KRW</option>
            <option value=MYR">MYR</option>
        </select>
        Amount
        <input type="text" name="amount" placeholder="0">
        <button type="submit">Change</button>
    </form>
</div>

</body>
</html>